@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* ====================================================================
 * FIX for Bootstrap and Google Maps Info window styes problem 
 * Adapted from: http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden
 * ====================================================================
 */

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none;
}

/* ====================================================================
 * Sass Mixins
 * ====================================================================
 */

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

/* ====================================================================
 * Global Styles
 * ====================================================================
 */

$bg-color: #000;
$lightblue: #2a6180;
$darkblue: #224e66;
$green:#3a9141;
$menu: #32394a;
$white: #fff;
$smoke: #efefef;

html, body {
	font-size: 18px;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	height: 100%;
	padding: 0;
	margin: 0;
}

.row {
	max-width: 100%;
}

.fade-hide, .fade-show {
	@include transition(all, 0.2s, ease-in-out);
}

.fade-hide {
	opacity: 1;
}
.fade-hide.fade-hide-active {
	opacity: 0;
}

.fade-show {
	opacity: 0;
}
.fade-show.fade-show-active {
	opacity: 1;
}

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgba(75, 75, 75, 0.75);
	color: $white;
	font-size: 2em;
	
	span {
		width: 100%;
		display: block;
		position: relative;
		top: 35%;
		text-align: center;
	}
}

/* ====================================================================
 * Navigation Styles
 * ====================================================================
 */


 .main-search-bar{
 	width:125%;
 }

#header-bar {
	height: 2.25em;
	position: fixed;
	z-index: 200;
	padding: 0.25em 0;
	color: $white;

	@include linear-gradient($lightblue, $darkblue);

	#brand {
		font-size: 1.5em;
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	a {
		color: $white;
		&:hover {
			color: $smoke;
		}
	}
}

#content {
	height: 100%;
	float: left;
}

#menu-bar, .options-bar {
	height: 100%;
	position: fixed;
	width: 15em;
	background-color: rgba(55, 126, 166, 0.80); 
	padding: 3em 1em 1em 1em;
	padding-bottom:10%;
	color: $white;
	margin: 0;
	z-index: 1;
	overflow:auto;

	// select{
	// 	width:75%;
	// }
	// input[type=text]{
	// 	width: 100%;
	// }

	ul {
		font-size: 0.65em;
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
				a {
					color: $white;
				}
		}
	}
}

#menu-bar {
	left: 0;
}

/* ====================================================================
 * Custom Checkboxes
 * ====================================================================
 */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

/* ====================================================================
 * Nearby Finder
 * ====================================================================
 */

#zoomOut {
	position: fixed;
	top: 5%;
	left: 5%;
}

.primary-content {
	width: 100%;
	height: 85%;
	position: absolute;
}

#data-bar {
	position: fixed;
	z-index: 1; // bring me in front of the google map but behind any modal
	bottom: 0;
	width: 100%;
	min-height: 15%;
	overflow: auto;
	overflow-y: hidden;
	margin: 0 auto;
	white-space: nowrap;
	border-top: 1px solid $lightblue;
	padding: 01%;
	background: $white;

	.data-container {
		height: 100%;
		border-right: 1px solid $lightblue;
		width: 300px;
		display: inline-block;
		vertical-align:text-top;

		.data-left {
			float: left;
			width: 25%;
			padding: 0 2.5%;
			position: relative;
			height: 100%;
			text-align: center;

			a {
				color: $darkblue;
			}

	    	.index-number {
	    		position: absolute;
	    		text-align: center;
	    		color: $white;
				top: 0.5em;
				left: 19%;
				width: 100%;
				font-size: 1.45em;
	    	}
		}

		.data-right {
			float: left;
			width: 65%;
			padding: 0 2.5%;


			h1 {
				width: 100%;
				font-size: 0.9em;
				line-height: 1em;
				color: $darkblue;
				padding: 0;
				margin: 0;
			}
		}

		span {
			color: $green;
			font-size: 0.8em;
			font-weight: 500;
			display: block;
			line-height: 1.25em;
		}
	}
}

.options-bar {
	right: 0;

	h1, h2, h3, h4, h5, h6, p, span, label {
		color: $white;
	}

	ul.filter-options {
		float: left;
		width: 45%;
		padding: 2.5%;
		list-style-type: none;
		margin: 0;
		display: inline-block;
		li {
			width: 100%;
			display: inline-block;
			margin: 0.25em 0;
		}
	}

	.check-wrapper {
		width: 10%;
		float: left;
	}

	.check-label {
		float: left;
	}
}


/* ====================================================================
 * Media Queries
 * ====================================================================
 */

	 
@media screen and (max-width: 400px)  
{
	#header-bar{
		.title{
			display: none;
		}
	}

}

@media screen and (min-width: 400px)  
{
	.main-search-bar{
		width: 200%;
	}

}

@media screen and (min-width: 750px)  
{
	.main-search-bar{
		width: 350%;
	}

}





