@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ====================================================================
 * FIX for Bootstrap and Google Maps Info window styes problem 
 * Adapted from: http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden
 * ====================================================================
 */
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none; }

/* ====================================================================
 * Sass Mixins
 * ====================================================================
 */
/* ====================================================================
 * Global Styles
 * ====================================================================
 */
html, body {
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0; }

.row {
  max-width: 100%; }

.fade-hide, .fade-show {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.fade-hide {
  opacity: 1; }

.fade-hide.fade-hide-active {
  opacity: 0; }

.fade-show {
  opacity: 0; }

.fade-show.fade-show-active {
  opacity: 1; }

/* ====================================================================
 * Navigation Styles
 * ====================================================================
 */
#header-bar {
  height: 2.25em;
  position: fixed;
  z-index: 200;
  padding: 0.25em 0;
  color: white;
  background-color: #224e66;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a6180), to(#224e66));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2a6180, #224e66);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2a6180, #224e66);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2a6180, #224e66);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2a6180, #224e66);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2a6180, #224e66);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor'); }
  #header-bar #brand {
    font-size: 1.5em;
    width: 100%;
    display: inline-block;
    text-align: center; }
  #header-bar a {
    color: white; }
    #header-bar a:hover {
      color: #efefef; }

#content {
  height: 100%;
  float: left;
  padding-top: 2.25em; }

#menu-bar, .options-bar {
  height: 100%;
  position: fixed;
  z-index: 100;
  width: 17em;
  background-color: rgba(75, 75, 75, 0.85);
  padding: 3em 1em 1em 1em;
  color: white;
  margin: 0; }
  #menu-bar ul, .options-bar ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }

#menu-bar {
  left: 0; }

/* ====================================================================
 * Custom Checkboxes
 * ====================================================================
 */
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(check_radio_sheet.png) left top no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(check_radio_sheet.png) -19px top no-repeat; }

/* ====================================================================
 * Nearby Finder
 * ====================================================================
 */
.primary-content {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1; }

.data-bar {
  min-width: 100%;
  background-color: white;
  border-top: solid 2px #224e66;
  bottom: 0;
  position: absolute;
  z-index: 101;
  font-size: 0.65em; }
  .data-bar ul {
    list-style: none;
    padding: 5px; }
  .data-bar #db-ul-container {
    white-space: nowrap;
    width: 100%;
    margin: 0; }
    .data-bar #db-ul-container .db-listing {
      border-right: 2px solid #224e66;
      display: inline-block;
      *display: inline;
      /*zoom: 1*/
      float: left;
      color: #3a9141; }
      .data-bar #db-ul-container .db-listing #db-ul-icon {
        width: 15%;
        float: left;
        margin: 0px; }
      .data-bar #db-ul-container .db-listing #db-ul-content {
        width: 250px;
        float: left;
        overflow: hidden; }
        .data-bar #db-ul-container .db-listing #db-ul-content .db-title {
          font-weight: bold; }
  .data-bar .icon-beer {
    color: #2a6180; }

.options-bar {
  right: 0; }
  .options-bar h1, .options-bar h2, .options-bar h3, .options-bar h4, .options-bar h5, .options-bar h6, .options-bar p, .options-bar span, .options-bar label {
    color: white; }
  .options-bar ul.filter-options {
    float: left;
    width: 45%;
    padding: 2.5%;
    list-style-type: none;
    margin: 0;
    display: inline-block; }
    .options-bar ul.filter-options li {
      width: 100%;
      display: inline-block;
      margin: 0.25em 0; }
  .options-bar .check-wrapper {
    width: 10%;
    float: left; }
  .options-bar .check-label {
    float: left; }
