@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* ====================================================================
 * FIX for Bootstrap and Google Maps Info window styes problem 
 * Adapted from: http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden
 * ====================================================================
 */

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none;
}

/* ====================================================================
 * Sass Mixins
 * ====================================================================
 */

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

/* ====================================================================
 * Global Styles
 * ====================================================================
 */

$bg-color: #000;
$lightblue: #2a6180;
$darkblue: #224e66;
$menu: #32394a;
$white: #fff;
$smoke: #efefef;

html, body {
	font-size: 18px;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	height: 100%;
	padding: 0;
	margin: 0;
}

.row {
	max-width: 100%;
}

/* ====================================================================
 * Navigation Styles
 * ====================================================================
 */

#header-bar {
	height: 2.25em;
	position: fixed;
	z-index: 200;
	padding: 0.25em 0;
	color: $white;

	@include linear-gradient($lightblue, $darkblue);

	#brand {
		font-size: 1.5em;
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	a {
		color: $white;
		&:hover {
			color: $smoke;
		}
	}
}

#content {
	height: 100%;
	padding-top: 2.25em;
}

#menu-bar {
	height: 100%;
	position: fixed;
	width: 75%;
	background-color: rgba(75, 75, 75, 0.85);
	z-index: 100;
	padding: 1em;
	color: $white;
}

/* ====================================================================
 * Custom Checkboxes
 * ====================================================================
 */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

/* ====================================================================
 * Nearby Finder
 * ====================================================================
 */

.primary-content {
	@include transition(all, 1s, ease-in-out);
	width: 100%;
	height: 85%;
	position: fixed;
	z-index: 1;
}

.data-bar{
	background-color: $white;
	border-top:solid 2px $darkblue;
	bottom:0px; 
	position:absolute; 
	// position: fixed;
	// height: 22%;
	// top: 78%;
	z-index: 101;
	font-size: 0.65em;

	ul{
		list-style: none;
		padding: 5px; 
	}

	#db-ul-container {
       overflow-x: scroll;
       white-space: nowrap;
       width:100%;
       margin:0;

       .db-listing {
			border-right: 2px solid $darkblue;
	        display: inline-block;
	        *display: inline;
	        /*zoom: 1*/
	        float: left;
	        color: #3a9141;

			#db-ul-icon {
		    	width:15%; 
		    	float:left; 
		    	margin: 0px;
		    	// border: dashed red 1px;
		    }

		    #db-ul-content{
		    	// border: dashed green 1px;
		    	width:250px; 
		    	float:left; 
		    	overflow:hidden;
		    	
		    	.db-title{
        			font-weight: bold;
       		 	}
		    }
		}
	}

    .icon-beer{
    	color: $lightblue;
    }
}

// .data-bar {
// 	position: fixed;
// 	width: 100%;
// 	height: 15%;
// 	background-color: $white;
// 	top: 85%;
// 	z-index: 100;
// 	ul {
// 		height: 100%;
// 		border-right: 1px solid $menu;
// 		float: left;
// 		width: 25%;
// 		list-style-type: none;
// 		padding: 0.5em 2em;
// 		margin: 0;
// 		li {
// 		}
// 	}
// }

.options-bar {
	padding: 1em;
	font-size: 0.75em;
	background-color: rgba(75, 75, 75, 0.85);
	color: $white;
	position: fixed;
	left: 25%;
	width: 75%;
	height: 85%;
	z-index: 100;

	h1, h2, h3, h4, h5, h6, p, span, label {
		color: $white;
	}

	ul.filter-options {
		float: left;
		width: 45%;
		padding: 2.5%;
		list-style-type: none;
		margin: 0;
		display: inline-block;
		li {
			width: 100%;
			display: inline-block;
			margin: 0.25em 0;
		}
	}

	.check-wrapper {
		width: 10%;
		float: left;
	}

	.check-label {
		float: left;
	}

}