@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ====================================================================
 * FIX for Bootstrap and Google Maps Info window styes problem 
 * Adapted from: http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden
 * ====================================================================
 */
/* line 9, main.scss */
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

/* ====================================================================
 * Sass Mixins
 * ====================================================================
 */
/* ====================================================================
 * Global Styles
 * ====================================================================
 */
/* line 50, main.scss */
html, body {
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 59, main.scss */
.row {
  max-width: 100%;
}

/* line 63, main.scss */
.fade-hide, .fade-show {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 67, main.scss */
.fade-hide {
  opacity: 1;
}

/* line 70, main.scss */
.fade-hide.fade-hide-active {
  opacity: 0;
}

/* line 74, main.scss */
.fade-show {
  opacity: 0;
}

/* line 77, main.scss */
.fade-show.fade-show-active {
  opacity: 1;
}

/* line 81, main.scss */
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(75, 75, 75, 0.75);
  color: white;
  font-size: 2em;
}
/* line 90, main.scss */
#loading span {
  width: 100%;
  display: block;
  position: relative;
  top: 35%;
  text-align: center;
}

/* ====================================================================
 * Navigation Styles
 * ====================================================================
 */
/* line 104, main.scss */
#header-bar {
  height: 2.25em;
  position: fixed;
  z-index: 200;
  padding: 0.25em 0;
  color: white;
  background-color: #224e66;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a6180), to(#224e66));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2a6180, #224e66);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2a6180, #224e66);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2a6180, #224e66);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2a6180, #224e66);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2a6180, #224e66);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}
/* line 113, main.scss */
#header-bar #brand {
  font-size: 1.5em;
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* line 120, main.scss */
#header-bar a {
  color: white;
}
/* line 122, main.scss */
#header-bar a:hover {
  color: #efefef;
}

/* line 128, main.scss */
#content {
  height: 100%;
  float: left;
}

/* line 133, main.scss */
#menu-bar, .options-bar {
  height: 100%;
  position: fixed;
  width: 15em;
  background-color: rgba(55, 126, 166, 0.8);
  padding: 3em 1em 1em 1em;
  padding-bottom: 10%;
  color: white;
  margin: 0;
  z-index: 1;
  overflow: auto;
}
/* line 152, main.scss */
#menu-bar ul, .options-bar ul {
  font-size: 0.65em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 159, main.scss */
#menu-bar ul li a, .options-bar ul li a {
  color: white;
}

/* line 166, main.scss */
#menu-bar {
  left: 0;
}

/* ====================================================================
 * Custom Checkboxes
 * ====================================================================
 */
/* line 175, main.scss */
input[type="checkbox"] {
  display: none;
}

/* line 178, main.scss */
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

/* line 187, main.scss */
input[type="checkbox"]:checked + label span {
  background: url(check_radio_sheet.png) -19px top no-repeat;
}

/* ====================================================================
 * Nearby Finder
 * ====================================================================
 */
/* line 196, main.scss */
#zoomOut {
  position: fixed;
  top: 5%;
  left: 5%;
}

/* line 202, main.scss */
.primary-content {
  width: 100%;
  height: 85%;
  position: absolute;
}

/* line 208, main.scss */
#data-bar {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  min-height: 15%;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
  border-top: 1px solid #2a6180;
  padding: 01%;
  background: white;
}
/* line 222, main.scss */
#data-bar .data-container {
  height: 100%;
  border-right: 1px solid #2a6180;
  width: 300px;
  display: inline-block;
  vertical-align: text-top;
}
/* line 229, main.scss */
#data-bar .data-container .data-left {
  float: left;
  width: 25%;
  padding: 0 2.5%;
  position: relative;
  height: 100%;
  text-align: center;
}
/* line 237, main.scss */
#data-bar .data-container .data-left a {
  color: #224e66;
}
/* line 241, main.scss */
#data-bar .data-container .data-left .index-number {
  position: absolute;
  text-align: center;
  color: white;
  top: 0.5em;
  left: 19%;
  width: 100%;
  font-size: 1.45em;
}
/* line 252, main.scss */
#data-bar .data-container .data-right {
  float: left;
  width: 65%;
  padding: 0 2.5%;
}
/* line 258, main.scss */
#data-bar .data-container .data-right h1 {
  width: 100%;
  font-size: 0.9em;
  line-height: 1em;
  color: #224e66;
  padding: 0;
  margin: 0;
}
/* line 268, main.scss */
#data-bar .data-container span {
  color: #3a9141;
  font-size: 0.8em;
  font-weight: 500;
  display: block;
  line-height: 1.25em;
}

/* line 278, main.scss */
.options-bar {
  right: 0;
}
/* line 281, main.scss */
.options-bar h1, .options-bar h2, .options-bar h3, .options-bar h4, .options-bar h5, .options-bar h6, .options-bar p, .options-bar span, .options-bar label {
  color: white;
}
/* line 285, main.scss */
.options-bar ul.filter-options {
  float: left;
  width: 45%;
  padding: 2.5%;
  list-style-type: none;
  margin: 0;
  display: inline-block;
}
/* line 292, main.scss */
.options-bar ul.filter-options li {
  width: 100%;
  display: inline-block;
  margin: 0.25em 0;
}
/* line 299, main.scss */
.options-bar .check-wrapper {
  width: 10%;
  float: left;
}
/* line 304, main.scss */
.options-bar .check-label {
  float: left;
}

/* ====================================================================
 * Media Queries
 * ====================================================================
 */
@media screen and (max-width: 400px) {
  /* line 317, main.scss */
  #header-bar .title {
    display: none;
  }
}
