

<!-- google map -->
<div class="primary-content">
    <div class="google-map" 
        center="center"
        zoom="zoom" 
        markers="markers"
        draggable="true"
        fit="true"
        style="height: 100%; width: 100%">
    </div>
</div>

<!-- lower data bar -->
<div class="data-bar">
    <ul id="db-ul-container">
        <li class="db-listing" ng-repeat="store in filtered = (storesList | filter: query | filter: search | orderBy: orderStores | limitTo: stores)">
        <!-- <li class="db-listing" ng-repeat="store in storesList"> -->
            <ul id="db-ul-icon">
                <li>
                    <i class="icon-beer icon-4x"></i>
                </li>
            </ul>
            <ul id="db-ul-content">
                <li class="db-title"><a href="#/store/{{store.id}}">{{store.name}} <br /> {{store.city}}</a></li>
                <li>{{store.address_line_1}} {{store.address_line_2}}</li>
                <li>Distance: {{store.distance_in_meters | mtokm}}</li>
                <li>Selection Size: {{store.products_count | inventorydiversity}}</li>
            </ul>
        </li>
    </ul>
</div>

<!-- filter options -->
<div class="options-bar" ng-show="showOptionsBar == true" ng-animate="'fade'"  style="display: none;">
    <div>
    {{storeList.result}}
    </div>
    <p>Filter Panel</p>
    <p>Sort:</p>
    <select ng-model="orderStores">
        <option value="distance_in_meters">Shortest Distance</option>
        <option value="name">Alphabetical</option>
        <option value="city">City</option>
        <option value="-inventory_volume_in_milliliters">Inventory Volume</option>
    </select>

    <p>Store Count:</p>
    <input type="range" name="stores" ng-model="stores" min="5" max="25"> {{stores}}
    <!-- <button ng-click="performSearch()">Update</button> -->

    <p>Filter:</p>
    <input type="text" ng-model="search" placeholder="Type a keyword" />

    <p>Advanced Filters {{filtered.length}}:</p>
    <ul class="filter-options">
        <li>
            <input id="has_parking" type="checkbox" ng-model="query.has_parking" ng-true-value="true" ng-false-value="">
            <label for="has_parking"><span></span>Parking</label>
        </li>
        <li>
            <input id="has_wheelchair_accessability" type="checkbox" ng-model="query.has_wheelchair_accessability" ng-true-value="true" ng-false-value="" >
            <label for="has_wheelchair_accessability"><span></span>Wheelchair Accessible</label>
        </li>
        <li>
            <input id="has_product_consultant" type="checkbox" ng-model="query.has_product_consultant" ng-true-value="true" ng-false-value="" >
             <label for="has_product_consultant"><span></span>Product Consultant</label>
         </li>
        <li>
            <input id="has_special_occasion_permits" type="checkbox" ng-model="query.has_special_occasion_permits" ng-true-value="true" ng-false-value="" > 
            <label for="has_special_occasion_permits"><span></span>Special Occasion Permits</label>
        </li>
    </ul>

    <ul class="filter-options">
        <li>
            <input id="has_beer_cold_room" type="checkbox" ng-model="query.has_beer_cold_room" ng-true-value="true" ng-false-value="" > 
            <label for="has_beer_cold_room"><span></span>Cold Beer Room</label>
        </li>
        <li>
            <input id="has_vintages_corner" type="checkbox" ng-model="query.has_vintages_corner" ng-true-value="true" ng-false-value="" > 
            <label for="has_vintages_corner"><span></span>Vintages Corner</label>
        </li>
        <li>
            <input id="has_tasting_bar" type="checkbox" ng-model="query.has_tasting_bar" ng-true-value="true" ng-false-value="" > 
            <label for="has_tasting_bar"><span></span>Tasting Bar</label>
        </li>
        <li>
            <input id="has_transit_access" type="checkbox" ng-model="query.has_transit_access" ng-true-value="true" ng-false-value="" > 
            <label for="has_transit_access"><span></span>Transit Access</label>
        </li>
    </ul>
</div>